<div class="row row-sm">
  <div id="collections" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <div class="item">
      <div class="pos-rlt">
        <!-- review rank -->
        <div class="top">
          <span class="pull-right m-t-sm m-r-sm badge bg-info">6</span>
        </div>
        <!-- the overlay -->
        <div class="item-overlay opacity r r-2x bg-black">
          <div class="text-info padder m-t-sm text-sm">
            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            <i class="fa fa-star-o text-muted"></i>
          </div>
          <div class="center text-center m-t-n">
            <div>
              <div class="trophy_count_small">
                <ul class="trophy_count">
                  <li class="gold">5</li>
                  <li class="silver">5</li>
                  <li class="bronze">27</li>
                </ul>
              </div>

              <div class="progress_outer center">
                <span>100%</span>
                <div style="width: 100%;"></div>
              </div>
            </div>
          </div>
          <div class="bottom padder m-b-sm">
            <a href="#" class="pull-right"> <i class="fa fa-heart-o"></i>
            </a>
          </div>
        </div>
        <a href="#"><img src="images/p6.jpg" alt="" class="r r-2x img-full"></a>
      </div>
      <div class="padder-v">
        <a href="#" class="text-ellipsis">Habitant</a> <a href="#" class="text-ellipsis text-xs text-muted">Dan
          Doorack</a>
      </div>
    </div>
  </div>
</div>
<script src="js/angular/controller/collections-controller.js"></script>