<div class="row row-sm">
<uib-accordion close-others="true">
  <uib-accordion-group heading="111" is-open="false">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2"  for="username">Username:</label>

        <div class="controls col-sm-8">
          <input type="text" class="input-s-lg" id="username"></div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="gender">Gender</label>

        <div class="controls col-sm-8">
          <label class="inline">
            <input type="radio" value="1" name="gender">
            Male
          </label>
          <label class="inline">
            <input type="radio" value="2" name="gender">
            Female
          </label>
          <label class="inline">
            <input type="radio" value="3" checked="checked" name="gender">
            Unknown
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="birthday">Birthday:</label>

        <div class="controls col-sm-8">
          <select ng-model="profile.selectedyear" ng-options="years for years in profile.default.years"></select>
          <select ng-model="profile.selectedmonth" ng-options="months for months in profile.default.months" ng-change="profile.updateDay()"></select>
          <select ng-model="profile.selectedday" ng-options="days for days in profile.default.days"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="location">Location:</label>

        <div class="controls col-sm-8">
          <select></select>
          <select></select>
          <select></select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="bio">Bio</label>

        <div class="controls col-sm-8">
          <div class="textarea">
            <textarea type="" class="input-s-lg" id="bio"> </textarea>
          </div>
      </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="blog">Blog:</label>

        <div class="controls col-sm-8">
          <input type="text" class="input-s-lg" id="blog"></div>
      </div>
      <div class="opt"></div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="weibo">Weibo:</label>

        <div class="controls col-sm-8">
          <input type="text" class="input-s-lg" id="weibo"></div>
      </div>
      <div class="opt"></div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="qq">QQ:</label>

        <div class="controls col-sm-8">
          <input type="text" class="input-s-lg" id="qq"></div>
      </div>
      <div class="opt"></div>
    </form>
  </uib-accordion-group>
  <uib-accordion-group heading="Delete account" panel-class="panel-danger">
    <p>Please, to delete your account, click the button below</p>
    <button class="btn btn-danger">Delete</button>
  </uib-accordion-group>
</uib-accordion>
</div>